.flash-card-container {
    display: flex;
    justify-content: center;

}

.flash-card {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(68, 68, 68);


    /* box-shadow: 5px 5px 4px #d0d0d0,
        -5px -5px 4px #f0f0f0; */
    box-shadow: 2px 2px 6px 3px #8a8a8a4d,
        -2px -2px 10px 3px #a5a5a538;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(2rem, 4vw, 3.5rem);
}

@media (max-width: 480px) {
    .flash-card {
        font-size: 8vw;
    }
}

@media (min-width: 800px) {
    .flash-card {
        font-size: clamp(2rem, 7vw, 2.5rem);
    }
}

.info-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: "Nunito", sans-serif;
    color: #bcbcbc;
    font-size: 14px;
}

.info-container {
    width: 100%;
    max-width: 400px;
}

#card-info {
    float: left;
}

#deck-info {
    float: right;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;

}

.buttons-container>button {
    border-radius: 15px;
    border: none;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons-container > :first-child {  margin-left: 0; }
.buttons-container > :last-child {  margin-right: 0; }

.flash-card-container {
    position: relative;
}

.flash-card {
    position: relative;
}

.marker {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: #8b8b8b56;
    border-radius: 50%;
}

.volume-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    accent-color: gray;
}

.volume-control input[type="range"] {
    width: 100px;
    margin-right: 10px;
}